<html>
<head>
<style type="text/css">dada_html_img { float:left; }</style>
</head>
<body>

%[DADA]{{{
<h1>The {%noun_proper:$subject} {%html}</h1>

{$subject} {%adverb} {%verb:plural}, {%connect} the {%noun} is {%adjective}<br/>
<br/>
{%pronoun_s:proper} {%verb:plural} {%adjective:article} {%noun},<br/>
{%connect} {%pronoun_s} can {%adverb} {%verb}<br/>
<br/>
<span style="margin-left:2em"/>{%pronoun_s} {%verb:plural} the {%noun} of {%adjective:article} {%noun}<br/>
<span style="margin-left:2em"/>{%pronoun_p_pos} {%noun} is {%verb:present,article} {%noun} {%preposition} {%adjective:article} {%noun}<br/>
<br/>
{%noun:proper,article} of {%noun:plural}, {%noun:article} is {%adjective:article} and {%adjective} {$subject}!<br/>
<span style="margin-left:2em"/>{%verb:present} in {%location} is like {%verb:present} {%adjective:article} {%noun}<br/>
<span style="margin-left:2em"/>{%pronoun_p} don't {%verb} {%preposition} {%verb:present} {%noun:article%, it only {%verb:plural} {%noun}<br/>
<br/>
In {%location}, {%noun:article} is {%adverb:article} {%verb:present} {%noun_proper}...<br/>
<br/>
{%verb:present,proper} still and {%verb:present} {%adverb}!<br/>
...{$subject}<br/>
...{$subject}<br/>
...{$subject}<br/>
}}}[DADA]%

</body>
</html>