<html>
<head>
  <title>HTTP Error %[LUA]{{{
print(aos.emitContent("/root/RESPONSE/status@code"));
print(" - ");
print(aos.emitContent("/root/RESPONSE/status"));
}}}[LUA]%
</head>
<body>
<font color="red"><b>HTTP Error %[LUA]{{{
print(aos.emitContent("/root/REQUEST/AUrl/url"));
print("<br/>");
print(aos.emitContent("/root/RESPONSE/status@code"));
print("</b>: ");
print(aos.emitContent("/root/RESPONSE/status"));
}}}[LUA]%

</body>
</html>