<html>
<head>
<style>
.generic-message { 
	background: #B0FF90;
	font: 14 Arial, Helvetica, sans-serif;
  color: #000000;
}
.error-message { 
	background: #600000;
	font: 18 Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
</style>
</head>
<body bgcolor="#f0f0ff">

<div class="error-message">
%[LUA]{{{
if (model.existElement("/root/ERROR")) then
  print(model.emitContentFromPath("/root/ERROR"));
end
}}}[LUA]%
</div>
<div class="generic-message">
%[LUA]{{{ 
if (model.existElement("/root/MESSAGE")) then
	print(model.getText("/root/MESSAGE")); 
end
}}}[LUA]%
</div>
<br/>
<br/>
<small><font color="blue">Request time: %[LUA]{{{ print(model.getText("/root/request_time")); }}}[LUA]% milliseconds</font></small><br/>
<small><font color="blue">Context time: %[LUA]{{{ print(model.getText("/root/context_time")); }}}[LUA]% milliseconds</font></small><br/>
</body>
</html>
