<html>
<head>
<style>
.generic-message { 
	background: #d6deff;
	font: 12 Arial, Helvetica, sans-serif;
  color: blue;
}
</style>
</head>
<body bgcolor="#f0f0ff">

<div class="generic-message">
%[LUA]{{{ print(model.getText("/root/generic-message")); }}}[LUA]%
</div>
<br/>
<br/>
<small><font color="blue">Request time: %[LUA]{{{ print(model.getText("/root/request_time)); }}}[LUA]% milliseconds</font></small><br/>
<small><font color="blue">Context time: %[LUA]{{{ print(model.getText("/root/context_time)); }}}[LUA]% milliseconds</font></small><br/>
<br/>
<h2>Embedded Lua script</h2>
<table border='1'><tr><td><pre>
local var x=5;
x = x+2;
print(x);
</pre></td></tr></table>
<table border='1'><tr><td>
%[LUA]{{{
local var x=5;
x = x+2;
print(x);
}}}[LUA]%
</td></tr></table>
</body>
</html>
