<html>
<body bgcolor="#f0f0ff">

<h2>Content found under /root/inserted/data/insert-root/item</h2>
<b>%[CODE]{{{print(/root/inserted/data/insert-root/item)}}}[CODE]%</b>
<br/>
<br/>
<small><font color="blue">Request time: %[CODE]{{{print(/root/request_time)}}}[CODE]% milliseconds</font></small><br/>
<small><font color="blue">Context time: %[CODE]{{{print(/root/context_time)}}}[CODE]% milliseconds</font></small><br/>
<br/>
<h2>Lots Of Lua Scripts test</h2>
%[LUA]{{{
print("Each cell contains one more than the previous, using the variable stored in the model /root/temp/x");
}}}[LUA]%
<table border='1'>
<tr>
<td>
%[LUA]{{{
model.setText("/root/temp/x", "0");
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
<td>
%[LUA]{{{
local var x=model.getText("/root/temp/x");
x = x + 1;
print(x);
model.setText("/root/temp/x", x);
}}}[LUA]%
</td>
</tr>
</table>
<br/>
%[LUA]{{{
print("Each cell contains one more letter than the last /root/temp/word");
}}}[LUA]%
<table border='1'>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "a");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "b");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "c");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "d");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "e");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "f");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "g");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "h");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "i");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "j");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "k");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "l");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "m");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "n");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "o");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "p");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "q");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "r");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "s");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "t");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "u");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "v");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "w");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "x");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "y");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
<tr><td>
%[LUA]{{{
model.addText("/root/temp/word", "z");
print(model.getText("/root/temp/word"));
}}}[LUA]%
</td></tr>
</table>

<br/>
<h3>Final values after script executed</h3>
<b>x=</b>%[LUA]{{{print(model.getText("/root/temp/x"));}}}[LUA]%<br/>
<b>word=</b>%[LUA]{{{print(model.getText("/root/temp/word"));}}}[LUA]%<br/>
</body>
</html>
