.feature_off {
	border-width: 0 0 0 1;
	border-style: solid;
	border-color: #ffffff;
	padding: 0 8 0 8;
	background: #d6deff;
	font: 12 Arial, Helvetica, sans-serif;
	color: #666666;
}

.feature_on {
	border-width: 0 0 0 1;
	border-style: solid;
	border-color: #ffffff;
	padding: 0 8 0 8;
	background: #d6deff;
	font: 12 Arial, Helvetica, sans-serif;
  color: blue;
}

.cla_title { 
	background: #d6deff;
	font: 12 Arial, Helvetica, sans-serif;
  color: blue;
}

.cla_description { 
	font: 12 Arial, Helvetica, sans-serif;
  color: #303080;
}

.cla_contact { 
	background: #d6deff;
	font: 10 Arial, Helvetica, sans-serif;
}

.cla_price { 
	background: #d6deff;
	font: 10 Arial, Helvetica, sans-serif;
}

