<html>
<head>
<style>
.generic-message { 
	background: #B0FF90;
	font: 18 Arial, Helvetica, sans-serif;
  color: #000000;
}
.error-message { 
	background: #600000;
	font: 20 Arial, Helvetica, sans-serif;
  color: #FFEEEE;
}
</style>
</head>
<body bgcolor="#f0f0ff">

<div class="error-message">
<aos:lua>
if (model.existElement("/root/ERROR")) then
  print(model.emitContentFromPath("/root/ERROR"));
end
</aos:lua>
</div>
<div class="generic-message">
<aos:lua> 
if (model.existElement("/root/MESSAGE")) then
	print(model.getText("/root/MESSAGE")); 
end
</aos:lua>
</div>
<br/>
<br/>
<small><font color="blue">Request time: <aos:model>/root/request_time</aos:model> milliseconds</font></small><br/>
<small><font color="blue">Context time: <aos:model>/root/context_time</aos:model> milliseconds</font></small><br/>
</body>
</html>
