<html>
<head>
	<style type="text/css">
pre.output {
	border-width: 1 1 1 1;
	border-style: solid;
	border-color: #000040;
	padding: 0 0 0 0;
	background: #ccccff;
	font: 12 Arial, Helvetica, sans-serif;
	color: #000000;
}
</style>
</head>
<body>

<h2>Result of all scripts concatinated as one</h2>

<pre class="output"><aos:lua>
print(model.emitContentFromPath("/root/script/output"));	
</aos:lua></pre>

<br/>
<hr/>

<h2>Reslt of all scripts separated</h2>

<aos:lua>
local output = {model.emitContentFromPath("/root/script/output", 1)};
for i,scriptout in ipairs(output) do
	print("<pre class='output'>");
	print(scriptout);	
	print("</pre>");
end
</aos:lua>

<br/>
</body>
</html>
