<html>
<head>
</head>
<body bgcolor="#f0f0ff">

<h2>Content found under /root/inserted/data/insert-root/item</h2>
<b><aos:lua> print(model.getText("/root/inserted/data/insert-root/item")); </aos:lua></b>
<br/>
<br/>
<small><font color="blue">Request time: <aos:lua> print(model.getText("/root/request_time")); </aos:lua> milliseconds</font></small><br/>
<small><font color="blue">Context time: <aos:lua> print(model.getText("/root/context_time")); </aos:lua> milliseconds</font></small><br/>
<br/>
<h2>Embedded Lua script</h2>
<table border='1'><tr><td><pre>
local var x=5;
x = x+2;
print(x);
</pre></td></tr></table>
<table border='1'><tr><td>
<aos:lua>
local var x=5;
x = x+2;
print(x);
</aos:lua>
</td></tr></table>
</body>
</html>
