<html>
<body bgcolor="#f0f0ff">

<table border="1" cellpadding="3">
  <tr><th>Input Processors</th><td><aos:lua>print(model.getText("/root/execute/input"));</aos:lua></td></tr>
  <tr><th>Modules executed</th><td><aos:lua>print(model.getText("/root/execute/module"));</aos:lua></td></tr>
  <tr><th>Output Generator</th><td><aos:lua>print(model.getText("/root/execute/output"));</aos:lua></td></tr>
</table>
<br/>
<br/>
<small><font color="blue">Request time: <aos:lua>print(model.getText("/root/request_time/interval"));</aos:lua> milliseconds</font></small><br/>
<small><font color="blue">Context time: <aos:lua>print(model.getText("/root/context_time/interval"));</aos:lua> milliseconds</font></small><br/>
</body>
</html>