<html>
<body bgcolor="#f0f0ff">

<table border="1" cellpadding="3">
  <tr><th>Input Processors</th><td>%[LUA]{{{print(model.getText("/root/execute/input"));}}}[LUA]%</td></tr>
  <tr><th>Modules executed</th><td>%[LUA]{{{print(model.getText("/root/execute/module"));}}}[LUA]%</td></tr>
  <tr><th>Output Generator</th><td>%[LUA]{{{print(model.getText("/root/execute/output"));}}}[LUA]%</td></tr>
</table>
<br/>
<br/>
<small><font color="blue">Request time: %[LUA]{{{print(model.getText("/root/request_time/interval"));}}}[LUA]% milliseconds</font></small><br/>
<small><font color="blue">Context time: %[LUA]{{{print(model.getText("/root/context_time/interval"));}}}[LUA]% milliseconds</font></small><br/>
</body>
</html>