<!-- START: Middle  -->
<br/>
<b>Caller data</b><br/>
Reported URL called: <big><b><aos:lua>print(model.getText("/root/input/AUrl/url")); </aos:lua></b></big> <small><i>(May not be the actual server:port since these values are reported from .ini file to allow clustering and load balancing)</i></small><br/>
Browser string: <big><b><aos:lua>print(model.getText("/root/input/request_header/User-Agent")); </aos:lua></b></big><br/>
<br/>
<br/>
<b>This is the middle part</b><br/>
You can view the source of this page and see the 4 parts that make it up (HTML comments deliniate the source).  This allows for
modular page design and allows a common look-and-feel for related pages by reusing parts of it and only changing what is needed.<br/>
<br/>
<br/>
<hr/>
<br/>
<!-- END: Middle  -->
