<html>
<body bgcolor="#f0f0ff">

<table>
  <tr><th>Input Processors</th><td><!--[print(/root/execute/input)]--></td></tr>
  <tr><th>Modules executed</th><td><!--[print(/root/execute/module)]--></td></tr>
  <tr><th>Output Generator</th><td><!--[print(/root/execute/output)]--></td></tr>
</table>
<br/>
<br/>
<small><font color="blue">Request time: <!--[print(/root/request_time)]--> milliseconds</font></small><br/>
<small><font color="blue">Context time: <!--[print(/root/context_time)]--> milliseconds</font></small><br/>
</body>
</html>