.rteImage {
	margin:1px;
	cursor: pointer;
}

.rteImageUp {
	border:1px solid #404E88;
	background:#FFDEB3;
	cursor: pointer;
}

.rteImageDown {
	border: 1px solid #404e88;
	background: #FFBE70;
	cursor: pointer;
}

.rteSep {
	margin:0 2px 0 2px;
}

.rteBk {
	height:27px
}

.rteBk td {
	height:27px;
	vertical-align: middle;
}

.rteDiv {
	border: 1px solid /* #A7A6C0*/ #AAAAAA;
}

.rteSelect {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 8pt;
	background: /* #E1E2EC */ #DEDCD5;
}

.rteSelectDown {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 8pt;
	background: #FFBE70;
}


.rteSelectBk {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: middle;
	margin-bottom: 1px;
	height: 23px;
}

.rteModeBk {
	height:27px;
	background:/* #E1E2EC */ #DEDCD5;
}

.rteMode {
	height: 25px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background: none;
	vertical-align: middle;
	cursor:pointer;
}

.rteModeOn {
	height: 25px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background:#FFDEB3;
	cursor:pointer;
}

.rteText {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 8pt;
}

.rteModeText {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
}

.rteInput {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	border:1px solid #AAAAAA;
}

.rteBtn {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 8pt;
}

